<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header" id="authentification">
        <div *ngIf="!isAuthenticated()">
            <button
            class="btn btn-primary btn-margin"
            (click)="login()">
              Connexion
          </button>

        </div>

  
        <button
          class="btn btn-danger btn-margin"
          *ngIf="isAuthenticated()"
          (click)="logout()">
            Deconnexion
        </button>
      </div>
    </div>
</nav>